<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">{{formStatus}} Categories</h3>
            <p class="text-center mb-5">You can add new categories from here ..!</p>
            <form #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)" class="form-inline text-center">
                <div class="form-group col-md-10">
                    <input 
                    type="text" 
                    class="form-control shadow-effect"
                    placeholder="Add new Categories"
                    name = 'category'
                    #newCategory = 'ngModel'
                    [(ngModel)] = "formCategory"
                    required
                    [ngClass]="{'is-invalid' : newCategory.touched && newCategory.invalid}"
                    >
                    <div *ngIf="newCategory.touched && newCategory.invalid" class="alert alert-danger">
                        Category field is required
                    </div>
                </div>
                <div class="col-md-2">
                    <button [disabled]="categoryForm.invalid" class="btn btn-block btn-info mb-2 btn-theme">{{formStatus}} Category</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryArray; let i = index">
                                <td> {{i + 1}}</td>
                                <td> {{category.category}}</td>
                                <td>
                                    <button (click)="onEdit(category.category, category.id)" class="btn btn-sm btn-warning">Edit</button>
                                    <button (click)="onDelete(category.id)" class="btn btn-sm btn-danger ml-2">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button routerLink="/" class="btn btn-info ml-2">Back to the Dashboard</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>